<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<body>
    <header th:fragment="header">
        <a th:href="@{/user/notifications/order}" th:text="Notification"></a>
        <a th:href="@{/cart}" th:text="Cart"></a>
        <a th:href="@{/user/account/profile}" th:text="${currentUser.username}"></a>
        <form th:action="@{/products}" method="get">
            <label>
                <input type="text"
                       name="keyword"
                       placeholder="Search product..."
                       th:value="${param.keyword}"/>
            </label>

            <!-- Giữ lại category nếu đang ở category -->
            <input type="hidden"
                   name="categoryId"
                   th:if="${currentCategoryId != null}"
                   th:value="${currentCategoryId}"/>

            <!-- Giữ lại shop nếu đang ở shop -->
            <input type="hidden"
                   name="shopId"
                   th:if="${currentShopId != null}"
                   th:value="${currentShopId}"/>

            <button type="submit">Search</button>
        </form>
    </header>

</body>
</html>