<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form th:action="@{/login}" method="post">
        <label for="username">Tên đăng nhập</label>
        <input type="text" class="form-control" id="username" name="username" required>
        <label for="password">Mật khẩu</label>
        <input type="password" class="form-control" id="password" name="password" required>
        <button>Login</button>
    </form>
</body>
</html>