<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <form th:action="@{/login}" method="post">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" name="username" required>
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" required>
        <button>Login</button>
        <div th:if="${error}" style="color:red">
            <p th:text="${error}"></p>
        </div>
        <p>Don't have account?<a href="/register">Register now</a></p>
    </form>
</body>
</html>